.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.margin-top {
    margin-top: 10%;
} 
.column {
    display: flex;
    flex-direction: column;
}
label {
    display: flex;
    justify-content: center;
}
.form {
    width: 55%;
}
button {
    background-color: #7c6cf1;
    font-weight: bold;
}
.form-item {
    width: 250px;
    height: 45px;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
      
}
.margin-bottom {
    margin-bottom: 20%;
}

.DEBUG-RED {
    border : 1px solid red;
}