.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form {
    display: flex;
    flex-direction: column;
}
.form-group {
    display: flex;
    flex-direction: column;
}
label {
    display: flex;
    justify-content: center;
}
.input {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.margin-bottom {
    margin-bottom: 20%;
}