@use '@angular/material' as mat;

html, body { height: 100%; }
html {
    @include mat.theme((
    color: (
      primary: mat.$blue-palette,
      tertiary: mat.$orange-palette,
      theme-type: light,
    )))
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
