# Template Environment variables - copy to a .env file and modify as needed

# Database Configuration
SPRING_DATASOURCE_DATABASE=database_name
SPRING_DATASOURCE_USERNAME=user123
SPRING_DATASOURCE_PASSWORD=password123

# Docker Database URL
SPRING_DATASOURCE_URL_DOCKER=jdbc:postgresql://database:5432/database_name

# Frontend Configuration
REACT_APP_ADDRESS=http://localhost:8080/api

# JPA Configuration
SPRING_DDL_AUTO=update

# JWT Configuration
SPRING_JWT_SECRET=(long hash goes here)
